@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
}

<h1>Ryan</h1>
<img src="/img/IMG_0107.JPG" />
<br />
<p>
    IS413 will be my first experience with a strongly typed language.  I'm hoping to learn how to work with and be comfortable in a strongly-typed environment.
    I'm also hoping that I'll improve my general programming skills as I practice applying things I've learned in other languages into C#.
</p>
<ul>
    Top 3 Jobs I'm interested in:
    <li>Cybersecurity</li>
    <li>Database Administration</li>
    <li>Development</li>
</ul>




